@use "src/assets/scss/variables" as *;

::ng-deep molecule-input-text-with-label-and-icon {

  .inline {
    height: 38px !important;

    label {
      margin-top: 5.5px !important;
      width: 50%;
    }

    .input-with-icon {
      float: right !important;
      width: 50%;
      display: flex;

      atom-input-text {
        width: auto !important;

        input {
          border-right: none !important;
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }

        input:focus{
          box-shadow: none;
          border-color: $blue;
        }

        input:focus {
          &:not(.is-invalid) {
            &:not(.is-valid) {
              border-color: $blue;
            }
          }
        }

      }

      .icon-container {
        min-width: 38px !important;
        max-width: 38px !important;
        height: 38px !important;
        background-color: lightgray;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        mat-icon {
          color: black !important;
        }

        &.is-valid {
          border: 1px solid $green;
          border-left: none;
        }
        &.is-invalid {
          border: 1px solid $red;
          border-left: none;
        }
        &.focus {
          border: 1px solid $blue;
          border-left: none;
        }
      }
    }
  }

  .default {
    atom-label > label {
      width: 100% !important;
      margin-bottom: 8px;
    }

    .input-with-icon {
      width: 100% !important;
      display: flex !important;

      atom-input-text {
        width: inherit;

        input {
          border-right: none !important;
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }

        input:focus{
          box-shadow: none;
          border-color: $blue;
        }

        input:focus {
          &:not(.is-invalid) {
            &:not(.is-valid) {
              border-color: $blue;
            }
          }
        }

      }

      .icon-container {
        min-width: 38px !important;
        max-width: 38px !important;
        height: 38px !important;
        background-color: lightgray;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        mat-icon {
          color: black !important;
        }

        &.is-valid {
          border: 1px solid $green;
          border-left: none;
        }
        &.is-invalid {
          border: 1px solid $red;
          border-left: none;
        }
        &.focus {
          border: 1px solid $blue;
          border-left: none;
        }
      }
    }
  }
}
