<div class="{{classMolecule + ' ' + config}}">
  <atom-label
    [class]="classeLabel"
    [for]="forLabel"
    [value]="valueLabel"
  >
  </atom-label>

  <div class="input-with-icon">
    <atom-input-password
      *ngIf="!fieldTextType"
      [id]="idInput"
      [class]="classInput"
      [name]="forLabel"
      [maxLength]=maxLengthInput
      [placeholder]="placeholderInput"
      [control]="formControlInput"
      (focusInEvent)="focusIn()"
      (focusOutEvent)="focusOut()"
    >
    </atom-input-password>
    <atom-input-text
      *ngIf="fieldTextType"
      [id]="idInput"
      [class]="classInput"
      [name]="forLabel"
      [maxLength]=maxLengthInput
      [placeholder]="placeholderInput"
      [control]="formControlInput"
      (focusInEvent)="focusIn()"
      (focusOutEvent)="focusOut()"
    >
    </atom-input-text>
    <div
      class="icon-container"
      [ngClass]="isValidOrInvalidOrNothing()"
      (click)="toggleFieldTextType()"
    >
      <atom-icon>
        {{nameIcon}}
      </atom-icon>
    </div>
  </div>
  <atom-invalid-message
    [control]="formControlInput"
    [errorTable]="errorTable"
  >
  </atom-invalid-message>
</div>
