::ng-deep .inline {
  label {
    display: inline-block;
    margin-right: auto !important;
    width: 50%;
  }

  input {
    display: inline-block;
    margin-left: auto !important;
    width: 50%;
  }
}

::ng-deep .default {
  atom-label > label {
    width: 100% !important;
  }

  atom-input > input {
    width: 100% !important;
  }
}
