@use "src/assets/scss/variables" as *;

:host {
  width: 100%;

  div > div {
    margin-left: -5px !important;
  }

  .inline {
    atom-label {
      align-self: center;
      width: 50%;
      display: inline-block;
    }

    atom-input-email {
      width: calc(50% - 33px) !important;
      display: inline-block;
    }
  }

  .default {
    atom-label {
      width: 100%;
    }

    atom-input-email {
      width: calc(100% - 33px) !important;
    }
  }

  .input-group:focus-within {
    atom-input-email {
      border-color: $blue;
    }

    .input-group-text {
      border-left: none;
      border-color: $blue !important;
    }
  }

  .input-group {
    width: 100%;

    .input-group-text {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0.25rem !important;
      border-bottom-right-radius: 0.25rem !important;
      border-left: none;

      height: 100%;
      width: 38px;

      atom-icon {
        width: 100%;
        height: 100%;
      }

      &.is-invalid, &.is-invalid:focus-within {
        border-color: $red;
      }

      &.is-valid, &.is-valid:focus-within {
        border-color: $green;
      }
    }

    ::ng-deep atom-input-email input {
      box-shadow: none;
      padding-right: 39px !important;

      &.is-valid:focus {
        box-shadow: none;
      }

      &.no-right-border {
        border-right: none;
      }
    }

    ::ng-deep atom-input-email input:focus {
      box-shadow: none;
      border-color: $blue !important;
    }
  }
}

